.calc-container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin-top:50px;;
    
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.operators{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

.display-row{
    width: 100%;
   
}

